<head>
  <meta charset="utf-8">
  <title>Seminar</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Zamzam Nurzaman">
  <!--Style-->
  <link rel="stylesheet" href="/../css/style.css">

  <!--Jquery-->
  <script src="/../js/jquery-1.11.min.js"></script>
  <script src="/../js/jquery-migrate.min.js"></script>

  <!-- Font-Awesome -->
  <link rel="stylesheet" href="/../vendor/font-awesome/css/font-awesome.min.css">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="/../vendor/bootstrap/bootstrap.min.css">
  <script src="/../vendor/bootstrap/bootstrap.min.js"></script>

  <!--Fonts-->
  <link rel="stylesheet" href="/../fonts/Open_Sans/Open_sans.css">
</head>
