<div class="nav-top">
  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars"></i></a>
  <form action="#" method="post">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
      </span>
      <input type="text" class="form-control" placeholder="Search for...">
    </div>
  </form>

  </div>
