<!DOCTYPE html>
<html>
    <head>
        <title>Halaman Tidak Di Temukan</title>

    </head>
    <body style="background:#e7ecee;">
      <h3><%= error %></h3>
      <h2><%= status %></h2>
      <h4><a href="/">Go Back</a></h4>
    </body>
</html>
